/*
Syntax error: File to import not found or unreadable: colors.
              Load paths:
                /Users/machida/Sites/youRoomAssistant/views/stylesheets
                /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/frameworks/blueprint/stylesheets
                /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets
                /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/grid-coordinates-1.1.9/stylesheets
                /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.9/stylesheets
                Compass::SpriteImporter
        on line 1 of /Users/machida/Sites/youRoomAssistant/views/stylesheets/nav.sass

1: /Users/machida/Sites/youRoomAssistant/views/stylesheets/nav.sass

Backtrace:
/Users/machida/Sites/youRoomAssistant/views/stylesheets/nav.sass:1
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/import_node.rb:42:in `import'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:122:in `timed'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:135:in `block in compile'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/logger.rb:45:in `red'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:134:in `compile'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:97:in `each'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:97:in `block in run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:122:in `timed'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/compiler.rb:96:in `run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:31:in `create'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:26:in `block in created'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:25:in `each'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:25:in `created'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:17:in `refresh'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/commands/watch_project.rb:86:in `perform'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/commands/base.rb:18:in `execute'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/bin/compass:25:in `block in <top (required)>'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/bin/compass:39:in `call'
/Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/bin/compass:39:in `<top (required)>'
/Users/machida/.rbenv/versions/1.9.3-p194/bin/compass:23:in `load'
/Users/machida/.rbenv/versions/1.9.3-p194/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: colors.\A               Load paths:\A                 /Users/machida/Sites/youRoomAssistant/views/stylesheets\A                 /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/frameworks/blueprint/stylesheets\A                 /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets\A                 /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/grid-coordinates-1.1.9/stylesheets\A                 /Users/machida/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.9/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /Users/machida/Sites/youRoomAssistant/views/stylesheets/nav.sass\A \A 1: /Users/machida/Sites/youRoomAssistant/views/stylesheets/nav.sass"; }
